<a href="/">Home</a>
<a href="/teaching">teaching</a>
<a href="/research">research</a>
<a href="/frontier">frontier</a>
<a href="/activity">activity</a>
<a href="/politics">politics</a>
<a href="/about">about</a>